body {
  font-family: Open Sans, sans-serif;
}

.header p{
  float: right;
  top:10px;
  color: dark grey;
}

h1:after {
    content:' ';
    display:block;
    border:1px solid #d0d0d0;
    border-radius:1px;
}

.header img{
  height: 45px;
  width: 45px;
  position: relative;
  top: 7px;
}

.wrap svg{
  height: 75%;
  width: 45%;
  position: absolute;
  left:5%;
  top:150px;
  z-index: -1;
}

#phone{
  stroke:grey;
}

#list {
  font-size: 16px;
  list-style: none;
  position:absolute;
  left: 16%;
  top:223px;
}

#list li {
  font-size: 15px;
  cursor: pointer;
  padding: 7px;
  position: relative;
  min-width: 10px;
  min-height: 10px;
  max-width: 200px;

}

#list li span{
  visibility: hidden;
  opacity: 0;
  padding: 9.5px;
  transition: visibility 0s, opacity 1.5s linear;
}

#list li:hover span {
  font-size: 20px;
  visibility: visible;
  opacity: 1;
}

input{
  padding:2px;
  border:none;
  border-bottom: solid 2px;
  transition: border 0.3s;
  width:40%;
}

input:focus{
  outline: none;
}

#avatar{
  float: right;
  height: 5%;
  width: 5%;
  position:relative;
  top: -14px;
}
